@model capstone_project.Models.tbl_products


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}


<div class="w3-content" style="">
    <!-- The Grid -->
    <div class="w3-row-padding">

        <div class="col-sm-12" style="background-color:white; border: solid 1px; border-color:darkgrey;">

            <div class="col-sm-5" style="">
                <div class="w3-col m2 w3-center col-sm-12" style="text-align:center; border-right: solid 1px; border-color:darkgrey;">
                    <input type="hidden" name="imgSource" id="imgSource">
                    <img src="~/images/products/@Model.product_id/@Model.prod_img" style="width:100%; min-height:60vh" name="imageContainer" id="imageContainer" alt="Avatar">
                </div>
            </div>
            <div class="col-sm-4" style="">
                <div class="w3-col m2 w3-center col-sm-12" style="text-align:left; margin-bottom:2vh; margin-top:2vh">
                    <p style="font-size: 3vh; font-family:'Courier New'; font-weight:bolder; color:black"><b> @Model.product_name</b></p>
                </div>
                <div class="w3-col m2 w3-center col-sm-12" style="text-align:left; margin-bottom:2vh; margin-top:2vh">
                    <p style="font-size: 2vh; font-family:'Courier New'; color:black">

                        <b style="font-weight:900">Price:</b>	@Model.product_price <br /><br />
                        @Model.product_desc
                    </p>
                </div>

                <div class="w3-col m2 w3-center col-sm-12" style="text-align:left; margin-bottom:2vh; margin-top:2vh">
                    <p style="font-size: 2vh; font-family:'Courier New'; color:black">

                        <b style="font-weight:900">Seller </b>:	@Model.tbl_accounts.tbl_personalInformations.Where(x => x.account_id == Model.tbl_accounts.account_id).FirstOrDefault().personal_lastName,  @Model.tbl_accounts.tbl_personalInformations.Where(x => x.account_id == Model.tbl_accounts.account_id).FirstOrDefault().personal_firstName
                        <br />
                        <b style="font-weight:900">Company </b>: 	@Model.tbl_accounts.tbl_companies.company_name


                    </p>
                </div>


            </div>
            <div class="col-sm-3" style="margin-bottom:2vh">
                <div class="col-sm-12" style="margin-bottom:2vh; margin-top:10%; text-align:right">

                    <select id="quantity" class="form-control col-xs-2" style="font-size: 3vh; text-align: left; font-family:'Courier New'; color:black; margin-bottom:2vh; width:5vw!important;  height:4vh ">
                        <option> 1 </option>
                        <option> 2 </option>
                        <option> 3 </option>
                        <option> 4 </option>
                    </select>

                </div>
                <div class="col-sm-12" style="margin-bottom:2vh">
                    <p class="" style="font-size: 3vh; text-align: left; font-family:'Courier New'; color:black; margin-bottom:2vh;">
                        <button type="button" class="form-control col-xs-2" style="background-color:#f0c14b; color:#000000; font-size: 2vh; text-align: center; font-family:'Courier New'" onclick="add(@Model.product_id)"> Add To Cart </button>
                    </p>
                </div>

            </div>

        </div>

    </div>

    <div class="col-sm-12" style="margin-top:1vh; border: solid 1px; border-color:darkgrey; background-color:white">
        <div class="col-sm-12" style="">
            <div class="col-sm-12" style="margin-top:5vh; margin-bottom:5vh;">
                <p style="font-size: 3vh; font-family:'Courier New'; font-weight:bolder; color:black"><b> Hot Sale for today </b></p>
            </div>
        </div>
        <div class="col-sm-12" style="">
            <div class="col-sm-12" style="margin-top:0vh; margin-bottom:5vh;">

                @{
                    int y = 0;
                    foreach (var item in ViewBag.products)
                    {
                        <div class="w3-col m2 w3-center col-sm-2" style="text-align:center">
                            <div style="width:100%; height:100% ;border-radius: 10%">
                                <a href="/Home/details?id=@item.product_id"><img style="width:100%; height:25vh ;" src="~/images/products/@item.product_id/@item.prod_img" name="imageContainer" id="imageContainer" alt="Avatar"></a>
                            </div>
                        </div>
                        y++;

                        if (y == 6)
                        {
                            break;
                        }
                    }
                }

            </div>
        </div>
    </div>

    <script>
        function add(id) {

            var prodId = id;
             var quantity = document.getElementById("quantity").value;

            $.ajax({
                method: "POST",
                url: "@Url.Action("add_cart", "User")",
                data: { prodId: prodId, quantity: quantity},
                success: function (result) {
                    alert("Item Added");
                },
                failed: function (result) {
                    console.log("Failed");
                },
            });
        }
    </script>
