<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/solid")
    <title>Mineral World Depot</title>

</head>

<body>

    @{
        try
        {

            if (Session["Account_type"].ToString() != "0")
            {
                if (Session["Account_type"].ToString() == "3")
                {
                    Response.Redirect("~/User");
                }
                else if (Session["Account_type"].ToString() == "1")
                {
                    Response.Redirect("~/Distributor");
                }
                else if (Session["Account_type"].ToString() == "2")
                {
                    Response.Redirect("~/Vendor");
                }
                else
                {
                    Response.Redirect("~/");
                }

            }

        }
        catch
        {
            Response.Redirect("~/");
        }
    }

    <form method="post">
        <div class="col-sm-12" style="top:0; position:absolute; margin-bottom:3vh">
            <div class="col-sm-12" style="" id="ads">
                <a href="https://www.google.com" target="_blank"> <img src="/images/ads.jpg" class="col-sm-12" alt="Card image cap"></a>
            </div>

        </div>
        <div class="col-sm-12 navbar navbar-expand-lg navbar-light bg-light;" style="margin-left:0vw;background:#232f3e; min-height:12vh; min-width:1200px">
            <div class="input-group col-md-4" style="height:8vh">
                <a href="/"><img src="/images/logo.png" style="width:4vw;height:7vh; margin-left:3vw;border-radius:50%" /></a><a href="/"><p style="height:8vh; font-size: 2.5vh; text-align: left; font-family:'Courier New'; font-weight:bolder; color:white; margin-left:1vw">  PIJLER, <br /> INC  </p></a>
            </div>
            <div class="input-group col-md-4" style="height:8vh; margin-left:-22vh">
                <input class="form-control py-2 border-right-0 border" type="search" placeholder="search" id="search-input" name="search-input" style="height:7vh; width:15vw;font-size:3vh; text-align: left; font-family:'Courier New';">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary border-left-0 border" type="submit" style="height:7vh">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <div class="input-group col-md-4" style="margin-left:23vh">
                <p style="font-size: 2.5vh; font-family:'Courier New'; font-weight:bolder; color:white"> All mining materials you need </p>
            </div>
        </div>
        <div class="col-sm-12 navbar navbar-expand-lg navbar-light bg-light;" style="margin-top:-4vh; background:#232f3e; border-top:solid; border-top-color:grey; min-height:8vh">
            <div class="input-group col-md-6 row" style="">
                <div class="input-group col-md-3" style="font-size: 2vh; font-family:'Courier New'; font-weight:bolder;color:white; text-align:center ">
                    <button type="button" class="form-control col-xs-2" style="background-color:#232f3e; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'; border:none" onclick="products()"> Product </button>
                </div>
                <div class="input-group col-md-3" style="font-size: 2vh; font-family:'Courier New'; font-weight:bolder;color:white; text-align:center ">
                    <button type="button" class="form-control col-xs-2" style="background-color:#232f3e; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'; border:none" onclick="faq()"> FAQ </button>
                </div>
                <div class="input-group col-md-3" style="font-size: 2vh; font-family:'Courier New'; font-weight:bolder;color:white; text-align:center ">
                    <button type="button" class="form-control col-xs-2" style="background-color:#232f3e; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'; border:none" onclick="contact()"> Contact  </button>
                </div>
                <div class="input-group col-md-3" style="font-size: 2vh; font-family:'Courier New'; font-weight:bolder;color:white; text-align:center ">
                    <button type="button" class="form-control col-xs-2" style="background-color:#232f3e; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'; border:none" onclick="about()"> About  </button>
                </div>

            </div>
            <div class="input-group col-md-6" style="">
                <div class="input-group col-md-3" style="font-size: 2vh; font-family:'Courier New'; font-weight:bolder;color:white; text-align:center ">
                    <button type="button" class="form-control col-xs-2" style="background-color:#232f3e; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'; border:none" onclick="ads()"> Ads  </button>
                </div>
                <div class="input-group col-md-3" style="font-size: 2vh; font-family:'Courier New'; font-weight:bolder;color:white; text-align:center ">
                    <select class="form-control col-xs-2" style="background-color:#232f3e; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'; border:none; margin-top:2%" onchange="dropDown(this)">
                        <option> Accounts</option>
                        <option value="request"> Account Request </option>
                        <option value="manage"> Account Management</option>
                        <option value="inquiry"> Account Inquiries</option>
                        <option value="report"> Account Transactions</option>
                    </select>
                </div>
                @*<div class="input-group col-md-3" style="font-size: 2vh; font-family:'Courier New'; font-weight:bolder;color:white; text-align:center ">
                    <button type="button" class="form-control col-xs-2" style="background-color:#232f3e; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'; border:none" onclick="request()"> Account Management  </button>
                </div>*@
                <div class="input-group col-md-3" style="font-size: 2vh; font-family:'Courier New'; font-weight:bolder;color:white; text-align:center ">
                    <button type="button" class="form-control col-xs-2" style="background-color:#232f3e; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'; border:none" onclick="myProfile()"> Admin Account  </button>
                </div>
                <div class="input-group col-md-3" style="font-size: 2vh; font-family:'Courier New'; font-weight:bolder;color:white; text-align:center ">
                    <button type="button" class="form-control col-xs-2" style="background-color:#232f3e; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'; border:none" onclick="logout()"> Logout  </button>
                </div>
            </div>
        </div>
     </form>
        <div class="col-sm-12" style="background:white; z-index:0;margin-top:-3vh; padding:10vh; padding-top:2vh!important; min-width:1200px">
            @RenderBody()
        </div>

        <div class="panel-footer footer" style="font-family:'Courier New'">Capstone Project For Mapua Institute of Technology. All rights reserve 2018</div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

</body>
    <script type="text/javascript">

        function dropDown(input) {
            if (input.value == "request") {
                request();
            }
            if (input.value == "manage") {
                window.location = "/Admin/accounts";
            }
            if (input.value == "inquiry") {
                window.location = "/Admin/inquiry";
            } 
            if (input.value == "report") {
                window.location = "/Admin/reports";
            } 
        }


        function myProfile() {
            window.location = "/Admin/profile";
        }

        function products() {
            window.location = "/Admin";
        }

        function about() {
            window.location = "/Admin/about";
        }

        function faq() {
            window.location = "/Admin/faq";
        }

        function contact() {
            window.location = "/Admin/contact";
        }

        function ads() {
            window.location = "/Admin/ads";
        }

        function request() {
            window.location = "/Admin/account_request";
        }

        function logout() {
            $.ajax({
                method: "POST",
                url: "@Url.Action("logout", "Accounts")",
                success: function (result) {
                    window.location = "/";
                },
                failed: function (result) {
                    console.log("Failed");
                },
            });
        }

        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });

         function logout() {
            $.ajax({
                method: "POST",
                url: "@Url.Action("logout", "Accounts")",
                success: function (result) {
                    window.location = "/";
                },
                failed: function (result) {
                    console.log("Failed");
                },
            });
        }
    </script>


</html>