@model capstone_project.Models.tbl_transactions

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_transactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trans_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trans_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trans_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trans_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trans_discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trans_discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_accounts.account_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_accounts.account_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_products.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_products.product_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.trans_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
